@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@using Web_SqLite_ArtikelDb.Models
@model Artikel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AddArticle</title>

</head>
<body>
    <form action="/home/AddArticle" method="post">
        <h1>Artikel hinzufügen</h1>
        <input type="text" asp-for="@Model.bezeichnung" />
        <label asp-for="@Model.bezeichnung">Bezeichnung</label>
        <br />
        <input type="text" asp-for="@Model.preis" />
        <label asp-for="@Model.preis">Preis [€]</label>
        <br />
        <input type="checkbox" asp-for="@Model.vorhanden" />
        <label asp-for="@Model.vorhanden">Bestand im Lager</label>
        <br />
        <button>Speichern</button>
        <button type="reset">Reset</button>
    </form>
    <a href="/home/index">Zurück</a>

</body>
</html>
