@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@using Web_SqLite_ArtikelDb.Models
@model AddEditArticle

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>EditArticle</title>
</head>
<body>
    <form action="/home/EditArticle" method="post">
        <h1>Artikel ändern</h1>
        <input type="text" asp-for="@Model.artikelId" value="@Model.artikelId" />
        <label asp-for="@Model.artikelId">Bezeichnung</label>
        <br />
        <input type="text" asp-for="@Model.bezeichnung" value="@Model.bezeichnung" />
        <label asp-for="@Model.bezeichnung">Bezeichnung</label>
        <br />
        <input type="text" asp-for="@Model.preis" value="@Model.preis" />
        <label asp-for="@Model.preis">Preis [€]</label>
        <br />
        <input type="checkbox" asp-for="@Model.vorhanden" value="@Model.vorhanden" />
        <label asp-for="@Model.vorhanden">Bestand im Lager</label>
        <br />
        <button>Speichern</button>
        <button type="reset">Reset</button>
    </form>
    <a href="/home/index">Zurück</a>
</body>
</html>
